/JavaFXLogoQuizLaptop/nbproject/private/
/javafxlogoquiz/nbproject/private/
/javafxlogoquiz/build/
/javafxlogoquiz/dist/
/JavaFXLogoQuiz/nbproject/private/
/JavaFXLogoQuiz/dist/
/JavaFXLogoQuiz/build/